<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_dev.dao.StudentDao">
	<!-- 동일하게 사용될 구문은 sql 태그를 사용해 미리 정의해 둘 수 있음 -->
	<sql id="selectSql">
		select stud_id, name, email, phone from students
	</sql>
	<!-- <sql id="whereSql">
		<where>
			<if test="studId != null">
				where stud_id = #{studId}
			</if>
		</where>
	</sql> -->
	<select id="selectStudentByNo" parameterType="Student" resultType="Student">
		 <!-- 미리 지정해둔 sql 문은 include 문을 활용해 사용할 수 있음 -->
		 <include refid="selectSql" /> where stud_id = #{studId}
	</select>
</mapper>